*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

:root{
    --var-black:#282828;
    --var-green:gray;
}


/*.con{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--var-green);
    border-radius: 4px;
    height: 30px;
    width: 200px;
    margin-top: 5.5rem;
    margin-left: 45%;
}*/

.con{
    display: flex;
    flex-wrap: wrap;
    margin-right: 7.5rem;
}

.con input{
    width: 126px;
    margin-right: 0.5rem;
}

.c1{
    margin-right: 0.7rem;
}

.cd{
    display: flex;
    flex-wrap: wrap;
    
}

.card-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.b{
    color: aqua;
}

.cd1{
    display: flex;
    flex-wrap: wrap;
}


#m{
    margin-top: 2rem;
    margin-left: 2rem;
}



/*footer*/
.footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 6rem;
    background-color: #282828;
    color: white;
    font-size:18px ;
    width: 100%;
    margin-top: 2rem;
}




